.icon-serviceguarantee {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-truthdescribe {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-rapiddelivery {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-localreturn {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-goldvip {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-silvervip {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-coppervip {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-remark {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-unread-message {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-read-message {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-unreadreply-message {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-readreply-message {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-serviceguarantee {
	width: 16px; height: 16px;
}
.icon-truthdescribe {
	width: 16px; height: 16px;
}
.icon-rapiddelivery {
	width: 16px; height: 16px;
}
.icon-localreturn {
	width: 16px; height: 16px;
}
.icon-serviceguarantee {
	background-position: -60px 0px;
}
.icon-truthdescribe {
	
}
.icon-rapiddelivery {
	background-position: -20px 0px;
}
.icon-localreturn {
	background-position: -40px 0px;
}
.icon-goldvip {
	width: 16px; height: 16px;
}
.icon-silvervip {
	width: 16px; height: 16px;
}
.icon-coppervip {
	width: 16px; height: 16px;
}
.icon-goldvip {
	background-position: 0px -80px;
}
.icon-silvervip {
	background-position: -20px -80px;
}
.icon-coppervip {
	background-position: -40px -80px;
}
.icon-remark {
	background-position: -60px -60px; width: 13px; height: 13px;
}
.icon-unread-message {
	width: 18px; height: 16px;
}
.icon-read-message {
	width: 18px; height: 16px;
}
.icon-unreadreply-message {
	width: 18px; height: 16px;
}
.icon-readreply-message {
	width: 18px; height: 16px;
}
.icon-unreadreply-message {
	background-position: -80px 0px;
}
.icon-readreply-message {
	background-position: -80px -20px;
}
.icon-unread-message {
	background-position: -80px -40px;
}
.icon-read-message {
	background-position: -80px -60px;
}
.icon-highlight-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-correct {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bigcorrect {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-correct {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-correct {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-wrong {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-wrong {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-warning {
	width: 35px; height: 35px;
}
.icon-big-warning {
	width: 35px; height: 35px;
}
.icon-bighighlight-information {
	width: 35px; height: 35px;
}
.icon-big-information {
	width: 35px; height: 35px;
}
.icon-bighighlight-error {
	width: 35px; height: 35px;
}
.icon-highlight-error {
	width: 35px; height: 35px;
}
.icon-bighighlight-correct {
	width: 35px; height: 35px;
}
.icon-bigcorrect {
	width: 35px; height: 35px;
}
.icon-bighighlight-wrong {
	width: 35px; height: 35px;
}
.icon-big-wrong {
	width: 35px; height: 35px;
}
.icon-highlight-warning {
	width: 16px; height: 16px;
}
.icon-warning {
	width: 16px; height: 16px;
}
.icon-highlight-information {
	width: 16px; height: 16px;
}
.icon-information {
	width: 16px; height: 16px;
}
.icon-highlight-error {
	width: 16px; height: 16px;
}
.icon-error {
	width: 16px; height: 16px;
}
.icon-highlight-correct {
	width: 16px; height: 16px;
}
.icon-correct {
	width: 16px; height: 16px;
}
.icon-bighighlight-warning {
	background-position: -169px -39px;
}
.icon-big-warning {
	background-position: -169px 0px;
}
.icon-bighighlight-information {
	background-position: -204px -39px;
}
.icon-big-information {
	background-position: -204px 0px;
}
.icon-bighighlight-error {
	background-position: -204px -39px;
}
.icon-big-error {
	background-position: -204px 0px;
}
.icon-bighighlight-correct {
	background-position: -100px 0px;
}
.icon-bigcorrect {
	background-position: -100px -40px;
}
.icon-bighighlight-wrong {
	background-position: -135px -39px;
}
.icon-big-warning {
	background-position: -135px 0px;
}
.icon-highlight-warning {
	background-position: -40px -20px;
}
.icon-warning {
	background-position: -40px -40px;
}
.icon-highlight-information {
	background-position: -60px -40px;
}
.icon-information {
	background-position: -60px -20px;
}
.icon-highlight-error {
	background-position: -20px -20px;
}
.icon-error {
	background-position: -20px -40px;
}
.icon-highlight-correct {
	background-position: 0px -20px;
}
.icon-correct {
	background-position: 0px -40px;
}
.col-linebom {
	border-bottom-color: rgb(182, 182, 182); border-bottom-width: 2px; border-bottom-style: solid;
}
.col-linebom h2 {
	color: rgb(0, 0, 0); line-height: 16px; font-size: 14px; display: block;
}
.col-boxpd {
	padding: 10px;
}
.col-mglr10 {
	margin-right: 10px; margin-left: 10px;
}
.col-mgtb10 {
	margin-top: 10px; margin-bottom: 10px;
}
.col-mgright10 {
	margin-right: 10px;
}
.col-mgbottom10 {
	margin-bottom: 10px;
}
.col-flrig {
	float: right;
}
.valmiddle {
	vertical-align: middle;
}
.color-g {
	color: rgb(0, 153, 0);
}
.color-ys {
	color: rgb(252, 86, 2);
}
.gearycolor {
	color: gray;
}
.color999 {
	color: rgb(153, 153, 153);
}
.lkundeline {
	text-decoration: underline;
}
.col-main-warp {
	margin: 0px 0px 0px 160px; width: 790px; float: left; min-height: 1px; _display: inline;
}
.margintop5 {
	margin-top: 5px;
}
.margintop10 {
	margin-top: 10px;
}
.margintop20 {
	margin-top: 20px;
}
.marginleft5 {
	margin-left: 5px;
}
.marginleft10 {
	margin-left: 10px;
}
.marginleft20 {
	margin-left: 20px;
}
.marginright5 {
	margin-right: 5px;
}
.marginright10 {
	margin-right: 10px;
}
.marginright20 {
	margin-right: 20px;
}
.marginbottom5 {
	margin-bottom: 5px;
}
.marginbottom10 {
	margin-bottom: 10px;
}
.marginbottom20 {
	margin-bottom: 20px;
}
.addwid40 {
	width: 40px;
}
.addwid100 {
	width: 100px;
}
.col-rigtit {
	background: no-repeat 0px 0px; padding-left: 20px; float: right; display: inline-block;
}
.col-sailtips {
	padding: 10px 10px 20px; color: rgb(68, 68, 68); line-height: 24px; position: relative;
}
.addheight {
	height: 24px; overflow: hidden; display: block;
}
.col-sailtips .leftcol-tip {
	width: 60px; color: rgb(0, 0, 0); float: left;
}
.col-sailtips .leftcol-tip2 {
	width: 60px; color: rgb(0, 0, 0); float: left;
}
.col-sailtips .rightcol-tip {
	width: 650px; color: rgb(102, 102, 102); float: left;
}
.col-sailtips .rightcol-tip2 {
	width: 650px; color: rgb(102, 102, 102); float: left;
}
.col-sailtips .leftcol-tip2 {
	width: 98px;
}
.col-sailtips .rightcol-tip2 {
	width: 650px;
}
.col-sailtips span.viewticps {
	background: url("http://www.dhresource.com/dhs/mos/image/sail/sailplanbg.png") no-repeat 28px -152px; top: 10px; width: 28px; height: 20px; right: 10px; color: rgb(47, 102, 203); padding-right: 13px; display: inline-block; position: absolute; z-index: 0; cursor: pointer;
}
.col-sailtips span.viewshow {
	background-position: 28px -126px;
}
.public-lr-box {
	padding: 10px; position: relative;
}
.public-lr-box .public-l-box {
	height: 36px; line-height: 36px; vertical-align: middle; display: inline-block;
}
.public-lr-box .public-r-box {
	height: 36px; line-height: 36px; vertical-align: middle; display: inline-block;
}
.public-lr-box .public-r-box {
	line-height: 20px; float: right;
}
.public-lr-box .public-r-box {
	height: 25px; margin-top: 10px;
}
.dsbbtitle2 {
	padding: 5px 0px 5px 10px; line-height: 20px; overflow: hidden; margin-top: 10px; margin-bottom: 10px; position: relative;
}
.padline15 {
	height: 15px;
}
#right .bg-list table {
	font-size: 12px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
#right .bg-list table th {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -88px; padding: 5px 0px; color: rgb(0, 0, 0); font-weight: 300; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
#right .bg-list table th span {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") no-repeat 101% -233px; height: 14px; line-height: 12px; padding-right: 17px; display: inline-block;
}
#right .bg-list table th.cursor {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -59px; border-right-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
.bg-list table th.cursorasc {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -59px; border-right-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
.bg-list table th.cursordesc {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -59px; border-right-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
#right .bg-list table th.cursor {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -88px;
}
#right .bg-list table th.cursorasc span {
	background-position: 101% -294px;
}
#right .bg-list table th.cursordesc span {
	background-position: 101% -264px;
}
#right .bg-list table td.padleft20 {
	width: 2%; padding-right: 0px; padding-left: 20px; vertical-align: top;
}
#right .bg-list table th.padleft20 {
	width: 2%; padding-right: 0px; padding-left: 20px; vertical-align: top;
}
#right .bg-list table td.padleft20 input {
	margin-top: 2px;
}
#right .bg-list table th.padleft20 input {
	margin-top: 2px;
}
#right .bg-list table th.padleft20 {
	padding-left: 20px;
}
#right .bg-list table th.padleft10 {
	padding-left: 10px;
}
#right .bg-list table tr.btngroup td {
	padding: 6px 5px; vertical-align: middle; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
#right .bg-list table tr.btngroup td * {
	vertical-align: middle;
}
#right .bg-list table tr.errorbg td {
	background-color: rgb(254, 233, 228);
}
#right .bg-list table td {
	padding: 20px 10px 15px; text-align: left; vertical-align: top; border-bottom-color: rgb(241, 241, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
#right .bg-list table td.align-center {
	text-align: center;
}
#right .bg-list table td.align-right {
	text-align: right;
}
#right .bg-list table tr:hover {
	background-color: rgb(243, 243, 243);
}
#right .bg-list table tr:hover td.tipmktd {
	background-color: rgb(255, 255, 255);
}
#right .bg-list table tr.btngroup:hover {
	background-color: rgb(255, 255, 255);
}
#right .bg-list table td.tipmktd {
	padding: 5px 0px; vertical-align: top; border-bottom-color: rgb(241, 241, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
.tipmkbox {
	padding: 20px; border: 1px solid rgb(253, 204, 127); text-align: center; color: rgb(255, 85, 0); background-color: rgb(255, 255, 229);
}
#right .bg-list table td.operation .hline {
	margin: 0px 5px;
}
#right .bg-list table td .pro-num {
	padding: 0px 5px; border-radius: 2px; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; overflow: visible; font-weight: 700; text-decoration: none; display: inline-block; min-width: 50px; background-color: rgb(198, 198, 198); _width: 70px;
}
#right .bg-list table td .pro-num:hover {
	padding: 0px 5px; border-radius: 2px; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; overflow: visible; font-weight: 700; text-decoration: none; display: inline-block; min-width: 50px; background-color: rgb(198, 198, 198); _width: 70px;
}
#right .bg-list table td .pro-num:hover {
	color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.new-guide-step1 {
	background: url("http://www.dhresource.com/dhs/mos/image/product/pngbg02.png") no-repeat -255px 0px; left: 50%; top: 50%; width: 400px; height: 253px; position: absolute; z-index: 99999;
}
.new-guide-step1 .txtcontent {
	font: 16px/30px "Î¢ÈíÑÅºÚ"; padding: 65px 24px 20px; height: 80px; color: rgb(255, 99, 14); overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
.new-guide-step1 .txtconval {
	font: 18px/30px "Î¢ÈíÑÅºÚ"; padding: 0px 50px 20px 170px; color: rgb(255, 99, 14); overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
.guide-next-button {
	cursor: pointer;
}
.guide-i-know {
	font: 700 18px/30px "Î¢ÈíÑÅºÚ"; color: rgb(255, 99, 14); margin-left: 10px; float: right; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
.guide-close-button {
	background: url("http://www.dhresource.com/dhs/mos/image/product/pngbg02.png") no-repeat -229px -119px; top: 34px; width: 24px; height: 24px; right: 28px; display: inline-block; position: absolute;
}
.guide-arrow1 {
	background: url("http://www.dhresource.com/dhs/mos/image/product/pngbg02.png") no-repeat -127px 0px; left: -95px; top: 75px; width: 130px; height: 60px; position: absolute; z-index: 10000;
}
.guide-pos1 {
	left: -193px; top: 54px; width: 150px; height: 150px; position: absolute; z-index: 9999;
}
#newGuideMask {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 9998;
}
#newGuideMaskIframe {
	border: 0px currentColor; left: 0px; top: 0px; position: absolute; z-index: -1;
}
.addguidebg {
	position: relative; z-index: 99998; background-color: rgb(255, 255, 255);
}
.addguidebg2 {
	padding: 10px; position: relative; z-index: 99998; background-color: rgb(255, 255, 255);
}
.new-guide-step1 iframe {
	width: 100%; height: 100%; filter: alpha(opacity=0); opacity: 0;
}
.noshade-pop-inner .bg-list table td {
	padding: 20px 10px 15px; text-align: left; clear: both; vertical-align: top; border-bottom-color: rgb(241, 241, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
.noshade-pop-table .bg-list table {
	font-size: 12px; border-top-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.noshade-pop-table .bg-list table th {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -88px; padding: 5px; color: rgb(0, 0, 0); font-weight: 300; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap;
}
.noshade-pop-table .bg-list table th span {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") no-repeat 101% -233px; height: 14px; line-height: 12px; padding-right: 17px; display: inline-block;
}
.noshade-pop-table .bg-list table th.cursor {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -59px; padding-top: 7px; vertical-align: middle; border-right-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
.noshade-pop-table table th.cursorasc {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -59px; padding-top: 7px; vertical-align: middle; border-right-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
.bnoshade-pop-table table th.cursordesc {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -59px; padding-top: 7px; vertical-align: middle; border-right-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
.noshade-pop-table .bg-list table th.cursor {
	background: url("http://www.dhresource.com/dhs/mos/image/listpage/g-list.png") repeat-x 0px -88px;
}
.noshade-pop-table .bg-list table th.cursorasc span {
	background-position: 101% -294px;
}
.noshade-pop-table .bg-list table th.cursordesc span {
	background-position: 101% -264px;
}
.noshade-pop-table .bg-list table tr.btngroup td {
	padding: 6px 5px; text-align: left; vertical-align: middle; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.noshade-pop-table .bg-list table tr.btngroup td * {
	vertical-align: middle;
}
.noshade-pop-table .bg-list table td {
	padding: 20px 5px 10px; vertical-align: top; border-top-color: rgb(241, 241, 241); border-top-width: 1px; border-top-style: solid;
}
.noshade-pop-table .bg-list table td.padleft20 {
	padding-left: 20px; vertical-align: middle;
}
.noshade-pop-table .bg-list table tr td {
	font: 12px/1.5 tahoma, arial, ËÎÌå; text-align: left; font-size-adjust: none; font-stretch: normal;
}
.noshade-pop-table .bg-list table td.pricerig {
	text-align: right; padding-right: 10px;
}
.noshade-pop-table .bg-list table td.align-center {
	text-align: center;
}
.noshade-pop-table .bg-list table td.align-right {
	text-align: right;
}
.noshade-pop-table .bg-list table tr:hover {
	background-color: rgb(243, 243, 243);
}
.noshade-pop-table .bg-list table tr:hover td.tipmktd {
	background-color: rgb(255, 255, 255);
}
.noshade-pop-table .bg-list table td.tipmktd {
	padding: 5px 0px; vertical-align: top; border-bottom-color: rgb(241, 241, 241); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap;
}
.noshade-pop-table .bg-list {
	border-top-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative;
}
.noshade-pop-table .rew-bg {
	background: url("http://www.dhresource.com/dhs/mos/image/micidentity/tabletitlebg.png") repeat-x 0px 100%; height: 30px; padding-right: 17px;
}
.noshade-pop-table .rew-bg table {
	border: 0px currentColor; height: 100%;
}
.noshade-pop-table .rew-bg table th {
	background: url("http://www.dhresource.com/dhs/mos/image/micidentity/tabletitlebg.png") repeat-x 0px 100%; padding: 5px; border: 0px currentColor; color: rgb(0, 0, 0); font-weight: 300; vertical-align: top;
}
.noshade-pop-table .bg-list table th.cursor span {
	height: 14px; line-height: 12px; padding-right: 17px; vertical-align: middle; display: inline-block;
}
.noshade-pop-table table th.cursorasc span {
	height: 14px; line-height: 12px; padding-right: 17px; vertical-align: middle; display: inline-block;
}
.noshade-pop-table table th.cursordesc span {
	height: 14px; line-height: 12px; padding-right: 17px; vertical-align: middle; display: inline-block;
}
.noshade-pop-table .rew-bg table th input.margin-r {
	margin-top: 3px;
}
.noshade-pop-table .rew-hg {
	width: 100%; height: 280px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; overflow-x: hidden; overflow-y: scroll;
}
.noshade-pop-table .rew-bg {
	padding-right: 17px;
}
.noshade-pop-table .rew-bg table th.padleft20 {
	text-align: left; padding-left: 25px;
}
.noshade-pop-table .rew-hg table td.padleft20 {
	text-align: left; padding-left: 25px;
}
.noshade-pop-table .rew-bg table th.padlr10 {
	padding-right: 10px; padding-left: 10px;
}
.noshade-pop-table .bg-list table th.checkall {
	vertical-align: middle;
}
.noshade-pop-table .moreoptioin {
	height: auto;
}
.noshade-pop-table .moreoptioin table tr.btngroup td {
	padding: 6px 10px 6px 25px; text-align: left; vertical-align: middle; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.noshade-pop-table .bg-list table td.padpro a.productname {
	overflow: hidden; display: inline-block; max-height: 55px;
}
.chouse-pro-name {
	padding: 1px 5px 3px 10px; border: 1px solid rgb(221, 221, 221); width: 210px; height: 20px; margin-right: 10px; margin-bottom: 10px; float: left; display: inline-block; background-color: rgb(249, 249, 249);
}
.chouse-pro-name .proshortnane {
	width: 180px; height: 25px; line-height: 22px; overflow: hidden; margin-right: 10px; vertical-align: middle; display: inline-block;
}
.chouse-pro-name .remove {
	background: url("http://www.dhresource.com/dhs/mos/image/public/pop-close.png") no-repeat 0px 0px; width: 13px; height: 13px; vertical-align: middle; display: inline-block; cursor: pointer; _background-position: 0 -1px;
}
.chouse-pro-name .remove:hover {
	background-position: 0px -13px;
}
.add-product-template {
	padding: 20px 10px 20px 20px; border: 1px solid rgb(240, 240, 240); background-color: rgb(251, 251, 251);
}
.mainlayout {
	margin: 15px 10px 10px 80px; clear: both; position: relative; min-height: 20px; _height: 20px;
}
.ml-title {
	left: -80px; top: 0px; width: 77px; text-align: right; color: rgb(0, 0, 0); position: absolute;
}
span.required {
	color: red; margin-right: 7px; vertical-align: middle;
}
.width200 {
	width: 200px;
}
.tip-error {
	color: red;
}
.talign-center {
	text-align: center;
}
ul.uploadpro {
	overflow: visible; margin-top: 10px;
}
ul.uploadpro li.pro {
	margin: 10px 10px 10px 0px; padding: 10px; border: 1px solid rgb(221, 221, 221); width: 132px; height: 213px; float: left; position: relative;
}
ul.uploadpro li.hover {
	border-color: rgb(255, 195, 34); background-color: rgb(255, 255, 255);
}
ul.uploadpro li.propop .propopbox {
	width: 132px; height: 100px; text-align: center; padding-top: 90px; vertical-align: middle; background-color: rgb(254, 233, 228);
}
ul.uploadpro li.proadd .proaddbox {
	width: 132px; height: 100px; text-align: center; padding-top: 90px; vertical-align: middle; background-color: rgb(254, 233, 228);
}
ul.uploadpro li.propop {
	border-color: rgb(255, 136, 120); background-color: rgb(254, 233, 228);
}
ul.uploadpro li.propop .propopbox {
	left: 0px; top: 0px; width: 152px; height: 105px; filter: alpha(opacity=30); position: absolute; opacity: 0.3;
}
ul.uploadpro li.propop .propopbox2 {
	left: 0px; top: 0px; width: 152px; height: 105px; text-align: center; padding-top: 90px; position: absolute;
}
ul.uploadpro li.proadd {
	border-color: rgb(242, 233, 197);
}
ul.uploadpro li.proadd .proaddbox {
	margin: -10px; width: 152px; height: 143px; background-color: rgb(254, 250, 236);
}
.proname {
	font-size: 11px;
}
.proprice {
	font-size: 11px;
}
.proname {
	height: 36px; overflow: hidden;
}
.probtn {
	text-align: center;
}
.proimg {
	background: rgb(255, 255, 255); margin: 0px auto; border: 1px solid rgb(238, 238, 238); width: 130px; height: 130px; overflow: hidden; display: table; table-layout: fixed;
}
.proimg a {
	width: 130px; height: 130px; text-align: center; overflow: hidden; vertical-align: middle; display: table-cell;
}
.proimg span {
	width: 130px; height: 130px; text-align: center; overflow: hidden; vertical-align: middle; display: table-cell;
}
.proimg a img {
	max-height: 130px; max-width: 130px;
}
.proimg span img {
	max-height: 130px; max-width: 130px;
}
.proimg b.selecticon {
	background: url("http://www.dhresource.com/dhs/mos/image/public/icon-01.png") no-repeat 0px 0px; left: 2px; top: 2px; width: 12px; height: 12px; position: absolute;
}
.icon-highlight-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bigwarning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-warning {
	width: 35px; height: 35px;
}
.icon-warning {
	width: 35px; height: 35px;
}
.icon-highlight-information {
	width: 35px; height: 35px;
}
.icon-information {
	width: 35px; height: 35px;
}
.icon-highlight-warning {
	background-position: -169px -39px;
}
.icon-warning {
	background-position: -169px 0px;
}
.icon-highlight-information {
	background-position: -204px -39px;
}
.icon-information {
	background-position: -204px 0px;
}
.icon-highlight-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-warning {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-information {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-highlight-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-big-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-error {
	background: url("http://css.dhresource.com/seller/common/image/iconbg.png") no-repeat; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-bighighlight-warning {
	width: 35px; height: 35px;
}
.icon-big-warning {
	width: 35px; height: 35px;
}
.icon-bighighlight-information {
	width: 35px; height: 35px;
}
.icon-highlight-information {
	width: 35px; height: 35px;
}
.icon-bighighlight-error {
	width: 35px; height: 35px;
}
.icon-highlight-error {
	width: 35px; height: 35px;
}
.icon-highlight-warning {
	width: 16px; height: 16px;
}
.icon-warning {
	width: 16px; height: 16px;
}
.icon-highlight-information {
	width: 16px; height: 16px;
}
.icon-information {
	width: 16px; height: 16px;
}
.icon-highlight-error {
	width: 16px; height: 16px;
}
.icon-error {
	width: 16px; height: 16px;
}
.icon-bighighlight-warning {
	background-position: -169px -39px;
}
.icon-big-warning {
	background-position: -169px 0px;
}
.icon-bighighlight-information {
	background-position: -204px -39px;
}
.icon-big-information {
	background-position: -204px 0px;
}
.icon-bighighlight-error {
	background-position: -204px -39px;
}
.icon-big-error {
	background-position: -204px 0px;
}
.icon-highlight-warning {
	background-position: -169px -39px;
}
.icon-warning {
	background-position: -169px 0px;
}
.icon-highlight-information {
	background-position: -204px -39px;
}
.icon-information {
	background-position: -204px 0px;
}
.icon-highlight-error {
	background-position: -20px -20px;
}
.icon-error {
	background-position: -20px -40px;
}
.underline {
	text-decoration: underline;
}
.underline {
	text-decoration: underline;
}
.public-txt-input {
	padding: 3px 5px; color: rgb(0, 0, 0); overflow: hidden; vertical-align: middle;
}
.public-select {
	color: rgb(68, 68, 68);
}
.width100 {
	width: 100px;
}
.width150 {
	width: 150px;
}
.width125 {
	width: 125px;
}
.ver-align-middle {
	vertical-align: middle;
}
.margint5 {
	margin-top: 5px;
}
.marginr5 {
	margin-right: 5px;
}
.marginb5 {
	margin-bottom: 5px;
}
.marginl5 {
	margin-left: 5px;
}
.margint10 {
	margin-top: 10px;
}
.marginr10 {
	margin-right: 10px;
}
.marginb10 {
	margin-bottom: 10px;
}
.marginl10 {
	margin-left: 10px;
}
.margint20 {
	margin-top: 20px;
}
.marginr20 {
	margin-right: 20px;
}
.marginb20 {
	margin-bottom: 20px;
}
.marginl20 {
	margin-left: 20px;
}
.margintb5 {
	margin-top: 5px; margin-bottom: 5px;
}
.margintb10 {
	margin-top: 10px; margin-bottom: 10px;
}
.margintb20 {
	margin-top: 20px; margin-bottom: 20px;
}
.marginlr5 {
	margin-right: 5px; margin-left: 5px;
}
.marginlr10 {
	margin-right: 10px; margin-left: 10px;
}
.marginlr20 {
	margin-right: 20px; margin-left: 20px;
}
.color000 {
	color: rgb(0, 0, 0);
}
.color333 {
	color: rgb(51, 51, 51);
}
.color666 {
	color: rgb(102, 102, 102);
}
.color999 {
	color: rgb(153, 153, 153);
}
.colorf50 {
	color: rgb(255, 85, 0);
}
.colorf00 {
	color: red;
}
.color090 {
	color: rgb(0, 153, 0);
}
.prolayout {
	border: 1px solid rgb(238, 238, 238); width: 54px; height: 54px; overflow: hidden; margin-bottom: 5px; float: left; display: table; position: relative; table-layout: fixed; background-color: rgb(255, 255, 255);
}
.prolayout a {
	width: 54px; height: 54px; text-align: center; overflow: hidden; vertical-align: middle; display: table-cell;
}
.prolayout span {
	width: 54px; height: 54px; text-align: center; overflow: hidden; vertical-align: middle; display: table-cell;
}
.prolayout a img {
	vertical-align: middle; max-height: 54px; max-width: 54px;
}
.prolayout span img {
	vertical-align: middle; max-height: 54px; max-width: 54px;
}
.prolayout b.selecticon {
	background: url("http://www.dhresource.com/dhs/mos/image/public/icon-01.png") no-repeat 0px 0px; left: 2px; top: 2px; width: 12px; height: 12px; position: absolute;
}
.related-producwarp {
	margin: 0px auto; padding: 10px; width: 970px; overflow: hidden; position: relative; background-color: rgb(204, 204, 204);
}
.related-produc-box {
	margin: 0px; padding: 10px; border: 1px solid rgb(175, 175, 175); overflow: hidden; background-color: rgb(255, 255, 255);
}
.related-produc-box ul {
	padding-top: 10px; display: inline-block; zoom: 1;
}
.related-produc-box li {
	margin: 0px 5px 10px; width: 147px; height: 160px; text-align: left; font-size: 11px; float: left; display: inline;
}
.related-produc-img {
	background: url("http://www.dhresource.com/dhs/fob/img/final/loading.gif") no-repeat 50% 50%; border: 1px solid rgb(241, 241, 241); width: 100px; height: 100px; position: relative;
}
.related-produc-img a {
	width: 100px; height: 100px; text-align: center; overflow: hidden; vertical-align: middle; display: table-cell;
}
.related-produc-img a img {
	vertical-align: middle; max-height: 100px; max-width: 100px;
}
.related-produc-title {
	height: 34px; overflow: hidden; margin-top: 3px;
}
.related-produc-price {
	margin-top: 3px;
}
.related-produc-price strong {
	color: rgb(153, 0, 0);
}
