/* CSS Document */
html {
	SCROLLBAR-FACE-COLOR: #93B1C2; /*立体滚动条的颜色*/
	SCROLLBAR-HIGHLIGHT-COLOR: #93B1C2; /*滚动条空白部分的颜色*/
	SCROLLBAR-SHADOW-COLOR: #93B1C2; /*立体滚动条阴影的颜色*/
	SCROLLBAR-3DLIGHT-COLOR: #93B1C2; /*立体滚动条亮边的颜色*/
	SCROLLBAR-ARROW-COLOR: #375263; /*三角箭头的颜色*/
	SCROLLBAR-TRACK-COLOR: #f3f3f3; /*立体滚动条背景颜色*/
	SCROLLBAR-DARKSHADOW-COLOR: #fff;  /*立体滚动条强阴影的颜色*/	
}
body {
	font-family: Arial, Verdana, '瀹浣'; 
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0;	
}
ul,li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a:link {
	color: #333;
	text-decoration: none;	
}
a:visited {
	color: #333;
	text-decoration: none;	
}
a:hover {
	color: #06C;
	text-decoration: none;	
}
select {
	font-family: Arial, Verdana, '瀹浣';
	color: #333;
}
textarea {
	font-family: Arial, Verdana, '瀹浣';
	color: #333;
	font-size: 12px;
}
a.tc:link {
	color: #06C;
	text-decoration: none;
}
a.tc:visited {
	color: #06C;
	text-decoration: none;	
}
.input_style {
	margin: 0;
	padding: 0;
	height: 20px;
	line-height: 20px;
	border: 1px solid #c6d6e4;
	font-family: Arial, Verdana, '瀹浣';
	font-size: 12px;
	text-indent: 3px;
	color: #333;
}
.position {
	height: 27px;
	line-height: 27px;
	border-bottom: 1px solid #b0cce7;
	background: url(frame/main_bg01.png) repeat-x;
	text-indent: 12px;
	color: #666;	
}
.search_area {
	padding: 5px 10px;
	background: #f0f4f8 url(frame/main_bg02.png) repeat-x;
	color: #336699;
}
.search_area .inputtext {
	margin: 0;
	padding: 0;
	height: 20px;
	line-height: 20px;
	border: 1px solid #c6d6e4;
	font-family: Arial, Verdana, '瀹浣';
	font-size: 12px;
	text-indent: 3px;
}
.search_area td.button ul li {
	display: block;
	float: left;
	margin-right: 5px;
}
.search_area td.button ul li a {
	color: #336699;
	text-decoration: none;
	display: block;
	background: #ddedff url(frame/main_bg03.png) repeat-x;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	border: 1px solid #c6d6e4;
}
.search_area td.button ul li a:hover {
	color: #167ad7;
	background: #ddedff url(frame/main_bg04.png) repeat-x;
	border: 1px solid #a1c5e6;
}
.search_area td.sbutton ul li {
	display: block;
	float: left;
	margin-right: 5px;
}
.search_area td.sbutton ul li a {
	color: #336699;
	text-decoration: none;
	display: block;
	background: #ddedff url(frame/main_bg03.png) repeat-x;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	border: 1px solid #c6d6e4;
}
.search_area td.sbutton ul li a:hover {
	color: #167ad7;
	background: #ddedff url(frame/main_bg04.png) repeat-x;
	border: 1px solid #a1c5e6;
}
.table_list {

}
.table_list tr.title_bg {
	background: url(frame/main_bg05.png) repeat-x;
	color: #336699;	
}
.table_list tr.rows_bg {
	background: #fafafa;
}
.table_list td.right_line {
	border-right: 1px solid #e6e6e6;
}
.table_list td.right_bottom_line {
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px;
	line-height: 18px;
}
.table_list td.right_line01 {
	border-right: 1px solid #e6e6e6;
	padding: 5px;
	line-height: 18px;
}
.table_list td.right_bottom_line a {
	color: #06C;
	text-decoration: none;	
}
.table_list td.right_line01 a {
	color: #06C;
	text-decoration: none;	
}
.button_area {
	padding: 6px 10px;
	background: #f0f4f8 url(frame/main_bg02.png) repeat-x;
	color: #336699;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
}
.button_area ul li {
	display: block;
	float: left;
	margin-right: 5px;
}
.button_area ul li a {
	color: #336699;
	text-decoration: none;
	display: block;
	background: #ddedff url(frame/main_bg03.png) repeat-x;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	border: 1px solid #c6d6e4;
}
.button_area ul li a:hover {
	color: #167ad7;
	background: #ddedff url(frame/main_bg04.png) repeat-x;
	border: 1px solid #a1c5e6;
}
.button_area01 {
	padding: 6px 10px;
	background: #f0f4f8 url(frame/main_bg07.png) repeat-x;
	color: #336699;
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
}
.button_area01 ul li {
	display: block;
	float: left;
	margin-right: 5px;
}
.button_area01 ul li a {
	color: #336699;
	text-decoration: none;
	display: block;
	background: #ddedff url(frame/main_bg03.png) repeat-x;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	border: 1px solid #c6d6e4;
}
.button_area01 ul li a:hover {
	color: #167ad7;
	background: #ddedff url(frame/main_bg04.png) repeat-x;
	border: 1px solid #a1c5e6;
}
.table_main {
	padding: 10px;
}
.table_main table {
	border-collapse:collapse;
}
.table_main td {
	border: 1px solid #e6e6e6;
	padding: 5px;
}
.table_main td.title {
	background: #f0f0f0 url(frame/main_bg06.png) repeat-x;
	color: #039;
	font-family: "寰杞榛";
	font-size: 14px;
}
