@charset "utf-8";
/* CSS Document */
html{height:100%;overflow:auto;}  
*{margin:0; padding:0;}
a { text-decoration:none;}
a:hover {text-decoration:none;}
ul {list-style-type:none;}
input, button, select, textarea {outline:none;font-size:12px;}
body {background:#f0f0f0;font-family: "Microsoft YaHei",微软雅黑,"simsun", arial, sans-serif;}
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;height:0px;overflow:hidden;}
.info {border-radius: 8px;background:#fff;margin:0px;padding:0px;}
.info textarea {background:#EEEEEF;padding:5px;border-radius: 20px;font-size:16px;color:#333;border:none;}
.info2 {border-radius: 8px;background:#e2303c;margin:1em 0px 0px 0px;padding:2em 0px;}
.info_input {background:#EEEEEF;height:40px;padding:6px 0 6px 1em;border-radius: 20px;width:100%;line-height:28px;font-size:16px;color:#333;border:none;}
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/tjh/switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold;color:#ccc; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }
.switch label { cursor: pointer; }
.gbadge {margin:10px 0;background:#5cb85c;}
.foot {width:100%;background:#fefefe;border-top:1px solid #c9d1d5;height:50px;}
.foot li {display:block;float:left;text-align: center;height:50px;}
.foot li.active {color: #000;background-color: #f7f7f7;}
.foot li a {text-align: center;color:#777;line-height:50px;height:50px;font-size:1em;}
.foot li.active a {color:#000;}
.yx {float:left;height:24px;line-height:24px;padding-left:26px;color:#B3B3B3;font-size:16px;}
.unselected {background:url(../images/unselected.gif) no-repeat left center;float:left;height:20px;line-height:20px;padding-left:22px;color:#B3B3B3;font-size:14px;margin-right:5px;}
.selected {background:url(../images/selected.gif) no-repeat left center;}
.yxcp input {width: 0px;height: 0px;overflow:hidden;}
#txts {color:#333;font-size:14px;text-decoration:none;}
#share-to {background-color: rgba(0,0,0,0.8);background-image: url(../images/share.png);background-repeat: no-repeat;background-position: top right;width: 100%;height: 500%;position:fixed;top: 0;left: 0;z-index: 99999;display:none;background-size: 247px 127px;}
.checkcode {display:block;padding:0 10px;width:100%;text-align:center;color:#fff;background:#5cb85c;font-size:14px;font-weight:900;}
.userhead {position: absolute;top:5%;left:0;width:100%;}
.userhead2 {position: absolute;top:18%;left:0;width:100%;}
.efloat {position:fixed;bottom:0px;left:0px;width:100%;}
.family_t {margin:1em;font-size:12px;}