.ui-go-top a {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    background: url(goto-top.png?t=7d0c36b7_0) no-repeat
}

.ui-go-top a:hover {
    opacity: 1
}