/* some reset
body { line-height: 1.4; font-size: 12px; color: #333; font-family: Arial, sans-serif; }
body, ul, ol, p, h1, h2, h3, h4, h5, h6 { margin: 0;}
ul, ol { padding-left: 0; list-style-type: none; }
h4, h5, h6 { font-size: 100%; }
a { color: #34538b; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0; }
*/
/* constructor */
.zxx_constr { width:960px; height:400px; margin-left: auto; margin-right: auto; }
.zxx_logo { position: absolute; top: 0; margin-top: 14px; }
.zxx_author_time { float: right; margin-top: 40px; color: #999; font-family: tahoma; }
.zxx_api { width: 40px; height: 40px; line-height: 40px; font-size: 15px; font-family: tahoma; text-align:center; overflow: hidden; position: fixed; _position: absolute; right: 0 ; top: 0; color: #fff; background-color: #34538b; background-color: rgba(0,0,0,0); *background-color: #34538b; }
.zxx_api::before { content: ''; width: 80px; height: 80px; border-radius: 80px; background-color: #34538b; position:absolute; right: -40px; top: -40px;}
.zxx_api::after { content: 'API'; position: absolute; top: -4px; left: 14px; }
.zxx_api:hover::before { background-color: #cd0000; }
.zxx_nav { border-top: 2px solid #0b63c6; background-color: #1161ba; }
.zxx_nav_ul { width: 100%; overflow: hidden; font-size: 14px; font-weight: bold; }
.zxx_nav_li { float: left;}
.zxx_nav_a { display: block; padding: 10px 25px; color: #fff;  text-decoration: none; }
.zxx_nav_on { background-color: #fff; box-shadow: inset 1px 1px #ccc; color: #333;}
.zxx_nav_sp { float: right; margin-top: 5px; font-size: 12px; white-space: nowrap; }
.zxx_rbtn, .zxx_gbtn{display:inline-block; padding:5px 20px; color: #fff; font-weight:bold; text-decoration: none; vertical-align: middle;}
.zxx_rbtn{background-color: #cd0000;}
.zxx_gbtn{background-color: green;}
.zxx_rbtn:hover, .zxx_gbtn:hover{text-decoration:none; color:#fff;}
.zxx_btn:active, .zxx_gbtn:active{box-shadow:inset 0 2px 3px rgba(0,0,0,.35); padding-top:6px; padding-bottom:4px;}

.jd_body {
	width:960px; height:400px;
	overflow: hidden;
}
.jd_body img {
	vertical-align: bottom;
}
.jd_ad_slide {
	width:960px; height:400px;
	float: left;
	position: relative;
} 
.jd_ad_img {
	position: absolute; left: 0; top: 0;
	width:960px; height:400px;
	display: none;
}
.jd_ad_btn {
	position: absolute; right: 20px; bottom: 8px;
}
.jd_ad_btn_a {
	width: 22px; height: 22px;
	line-height: 22px;
	margin-right: 5px;
	text-align: center;
	border-radius: 12px;
	background-color: #999;
	color: #fff;
	float: left;
}
.jd_ad_btn_a:hover {
	text-decoration: none;
}
.jd_ad_btn .active {
	background-color: #E4393C;
}
.jd_service {
	width: 310px;
	padding-top: 230px;
	float: right;
}
.jd_nav_x {
	height: 30px;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.js_nav_a {
	width: 25%; *width: 24.9%;
	line-height: 20px;
	padding: 5px 0;
	text-align: center;
	font-size: 14px; font-family: 'microsoft yahei';
	float: left;
}
.jd_nav_x .active {
	color: #E4393C;
}
.jd_service_con {
	height: 136px;
	border: 1px solid #f1f1f1; border-top: 2px solid #aaa;
	position: relative;
}
.jd_service_img {
	position: absolute;
	display: none;
}
.jd_point_line {
	position: absolute; top: -2px; left: 0; z-index: 1;
	width: 25%;
	border-bottom: 2px solid #E4393C;
	text-align: center;
}
.jd_point_cor {
	position: absolute; bottom: 0; left: 50%;
	width: 0; height: 0;
	margin-left: -5px;
	border-style: dashed dashed solid; border-width: 5px; border-color: transparent transparent #E4393C;
	overflow: hidden;
}