@charset "utf-8";
.category_box{ width:1018px; height:77px; border:1px solid #e6e4e2; background-color:#f7f7f7;}
.category_box_top,.category_box_bot{ height:31px; padding:7px 20px 0 18px; width:980px; border-bottom:1px solid #e6e4e2;}
.category_box_bot{ border:0;}
.goods_input{ width:186px;height:24px; line-height:24px; color:#b3a9a4; float:left; text-indent:4px; border:0; background-color:#e9e7e5; margin-right:7px;}
.cate_time_tit{ font-size:14px; height:22px; float:left; display:block; color:#4f361d;line-height: 22px;}
.input-date{ position:relative; display:inline-block; vertical-align:middle; *display:inline; }
.input-date .cate_time_date{ width:142px;background-color:#e9e7e5; border:0;height:22px; line-height:22px;color:#4f361d; margin-top:2px; text-indent:26px;}
.input-date i{ position:absolute; top:4px; left:5px; width:18px; height:19px; text-indent:-99em; background:url(../images/common/icon_time.png) no-repeat; overflow:hidden;}

.brand-list{width: 1044px; margin-left: -12px; margin-top:15px; margin-bottom:100px;}
.brand-list .brand-bd{position: relative; margin-left: 12px; margin-top: 5px;}
.brand-list .item.underSale > *{color:#ccc !important;}
.under_sale{font-size:16px;color:#000 !important;display:none;}
.brand-list .item{position: absolute; width: 210px; background-color: #ffffff;
  padding: 15px; top:0; left: 40%; -webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;-ms-transition: all 0.3s;transition: all 0.3s; border:1px solid #fff;}
.InforProductIcon{position:absolute;left:-1px;top:-6px;width:52px;height:46px;background:url(../images/common/product.png) no-repeat;z-index:40;}
.InforTreatmentIcon{position:absolute;left:-1px;top:-6px;width:52px;height:46px;background:url(../images/common/treatment.png) no-repeat;z-index:40;}
.InforSchemeIcon{position:absolute;left:-1px;top:-6px;width:52px;height:46px;background:url(../images/common/scheme.png) no-repeat;z-index:40;}
.InforprojectIcon{position:absolute;left:-1px;top:-6px;width:52px;height:46px;background:url(../images/common/project.png) no-repeat;z-index:40;}
.InforConsumeIcon{position:absolute;left:-1px;top:-6px;width:52px;height:46px;background:url(../images/common/consume.png) no-repeat;z-index:40;}
.InforPayCardIcon{position:absolute;left:-1px;top:-6px;width:52px;height:46px;background:url(../images/common/payCart.png) no-repeat;z-index:40;}
.pro_info{display:none; margin-top:10px; clear:both;}
.brand-list .hover{box-shadow: 0px 1px 8px rgba(100,100,100,.6); background-color: #fff; border-color: #f00;}
.brand-list .product.hover{box-shadow: 0px 1px 8px rgba(100,100,100,.6); background-color: #fff; border-color: #f00;}
.brand-list .project.hover{box-shadow: 0px 1px 8px rgba(35,123,223,.6); background-color: #fff; border-color: #237bdf;}
.brand-list .scheme.hover{box-shadow: 0px 1px 8px rgba(108,22,133,.6); background-color: #fff; border-color: #6c1685;}
.brand-list .treament.hover{box-shadow: 0px 1px 8px rgba(45,199,213,.6); background-color: #fff; border-color: #2dc7d5;}
.brand-list .consume.hover{box-shadow: 0px 1px 8px rgba(239,96,54,.6); background-color: #fff; border-color: #ef6036;}
.brand-list .payCard.hover{box-shadow: 0px 1px 8px rgba(240,192,0,.6); background-color: #fff; border-color: #f0c000;}
.brand-list .additem{padding: 0; width: 240px; border: none; }
.brand-list .item h3{font-size: 42px; color: #666; font-family: arial; font-weight: bold; line-height: .8; margin-bottom: 20px;}
.brand-list .pro_img{ width:216px; height:210px; margin-bottom:10px; position:relative;}
.brand-list .pro_tit{color: #2d2d2d;font-size: 16px;line-height: 20px;margin-bottom: 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 212px;}
.pro_price{ color:#ed2e6c; font-size:22px;height:26px;}
.pro_num{ color:#777;}
.pro_btnbox{ height:38px; margin:10px 0 5px;}
.pro_btn_lc{ height:38px; width:102px; float:left; position:relative;}
.pro_btn_update{ height:38px; width:102px; float:right}
.pro_btn_gwc{ height:38px; width:102px; float:right; position:relative;}
.pro_btn_lc a,.pro_btn_gwc a,.pro_btn_update a{ display:block;height:38px; width:102px; background:url(../images/common/icon_btn1.png) no-repeat; text-indent:-9999px;}
.pro_btn_gwc a{background:url(../images/common/icon_btn2.png);}
.pro_btn_update a{background:url(../images/common/icon_update.png);}
.pro_btn_lc a:hover{background:url(../images/common/icon_btn1hover.png);}
.pro_btn_update a:hover{background:url(../images/common/icon_update.png);}
.pro_btn_gwc a:hover{background:url(../images/common/icon_btn2hover.png);}
.pro_btn_addCourse{float:left;height:38px;width:102px;background:url(../images/common/icon_treatment.png);display:inline-block;text-indent:-9999px;}
.pro_btn_addScheme{float:right;height:38px;width:102px;background:url(../images/common/icon_scheme.png);display:inline-block;text-indent:-9999px;}
.pro_btn_updateBig{float:left;height:38px;width:212px;}
.pro_btn_updateBig a{background:url(../images/common/icon_update2.png);display: block;height: 38px;width:212px;text-indent: -9999px;}
.pro_info_li{line-height:20px; font-size:14px;clear:both;}
.pro_info_li_tit{ float:left; width:175px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.pro_info_li_tip{ float:right;}
.pro_info_li_price{ float:left;/* width:65px; */text-align:left; color:#e10e52;font-size:16px;}
.pro_info_li2{ height:22px; line-height:22px; color:#969696; clear:both; text-align:right;}
.pro_info_li2 em{ padding-left:5px;}
.pro_info_more{ display:none; clear:both;}
.pro_info_tip{ width:100%; margin-top:10px; cursor:pointer; height:6px;background:url(../images/list/icon_down.png) center 0 no-repeat;}
.pro_info_tip_up{background-image:url(../images/list/icon_up.png);}
/*购物车*/
.shop_box{ border:1px solid #e8e6e6;}
.shop_tit{ height:31px; background-color:#e8e6e6; color:#4f361d;line-height:31px; font-size:13px;}
.shop_list_li{ height:32px; background-color:#fff; padding-top:7px;border-top:1px solid #e8e6e6;}
.shop_list_li.onthis,.shop_list_li.onthis:hover,.shop_list_li_child.onthis,.shop_list_li_child.onthis:hover{background-color:#ccc;}
.shop_item9,.shop_item10{ width:220px;text-align:center;float:left;}
.shop_item1{ text-align:center; width:48px;  float:left;margin-top:6px;}
.shop_item2{ float:left; /*width:160px;*/width:220px;}
.shop_item20{ float:left;width:200px;}
.shop_item3{ text-align:center; /*width:120px;*/width:110px; float:left;}
.shop_item30{ text-align:center;width:55px; float:left;}
/*.shop_list_li .shop_item3{ color:#f83976;}*/
.shop_item4{ text-align:center; /*width:176px;*/width:160px; float:left;}
.shop_item40{ text-align:center; /*width:176px;*/width:150px; float:left;}
.shop_item5{text-align:center; /*width:128px;*/width:130px; float:left;}
.shop_item6{text-align:center; width:125px; float:left;}
.shop_item60{text-align:center; width:100px; float:left;}
.shop_item7{text-align:right; width:100px; float:left;}
.shop_item8{text-align:center; width:100px; float:left;}
.shop_item12{ float:left; width:280px;}
.shop_chongzhibox,.shop_chongzhibtn{ height:45px; padding-top:21px;}
.shop_chongzhibtn{ background-color:#fbf7e9;}
.shop_chongzhibtn .com_btn_red{ margin-right:42px;}
.shop_chongzhi{ width:236px; float:left;}
/*.shop_chongzhi2{ width:230px;  text-align:right; float:right; margin-right:42px;}*/
.shop_item8{width:150px; }
.shop_item10{ width:220px;}
.shop_item11{text-align:right !important;}
.shop_item1 em{ width:13px; height:13px; display:inline-block; margin-top:8px; border:1px solid #d8d8d8; background-color:#f7f7f7;}
.shop_list_li .shop_item1 em{ background-color:#f7f7f7; margin-top:5px;}
.shop_num_box{ width:94px; height:24px; display:inline-block; border:1px solid #d8d8d8;}
.shop_num_jian,.shop_num_add{ width:24px; height:24px; float:left;background:url(../images/common/icon_jian.png) center center no-repeat; cursor:pointer;}
.shop_num_inputbox{ width:44px;border-right:1px solid #d8d8d8; border-left:1px solid #d8d8d8; float:left; height:24px; overflow:hidden;}
.shop_num_inputbox .shop_num_input{ color:#595959; font-size:13px; width:44px; background-color:#f7f7f7; text-align:center; height:24px; padding:0; margin:0; border:0 !important;}
.shop_num_add{ background-image:url(../images/common/icon_add.png)}
.shop_li_price{ width:114px; height:24px; display:inline-block;border:1px solid #d8d8d8; text-align:right; padding:0 5px; background-color:#ffffff;}
.shop_li_price.col_f83976{color:#f83976;}
.shop_list_li .shop_item8{background:url(../images/common/icon_close.png) center center no-repeat; display:block; cursor:pointer;}
.shop_list_li .shop_item8:hover{ background-image:url(../images/common/icon_closehover.png);}

.shop_list_li_child{ background-color:#f7f7f7;}
.shop_list_li_child .shop_item2{ color:#95826e;}
.shop_list_li_child .shop_item3{ color:#9e9e9e;}
.shop_list_li_child .shop_item5{ color:#9e9e9e;}
.shop_list_bot{ height:45px; background-color:#fbf7e9; clear:both; padding-top:20px;}
.shop_list_bot .shop_item1 em{ background-color:#f7f7f7; margin-top:2px;}
.shop_bot_l{ padding-left:40px; font-size:16px; color:#4f361d;}
.shop_bot_l em{ padding-right:20px;}
.rowSelected{background: #e8e6e6;}


.shop_going{ color:#4f361d; font-size:16px; margin-right:20px;}
.shop_bot_r .com_btn{ margin-top:-5px;}
.shop_bot_r .com_btn:hover{ box-shadow:inset 0 5px 5px -5px rgba(0,0,0,0.4);}
.shop_bot_r .com_btn:active{ box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
/*搜索 美容师列表8-5*/
.consultant_list{ width:1020px;}
.consultant_item{ width:990px; height:77px; background:#fff; line-height:66px; padding:7px 13px 0px; border:2px solid #fff; margin-top:10px;}
.consultant_item:hover{ border:2px solid #f83976; box-shadow:1px 10px 25px #ccc ;}
.consultant_item li{ float:left; color:#454545; font-size:18px; font-family:'微软雅黑';}
.consultant_item li span{ color:#929292;}
.consultant_item .consultant_img{ width:87px; background:url(../images/Images/user_info_line.gif) no-repeat right top;}
.consultant_item .consultant_img img{ width:70px; height:70px; border-radius:50px;}
.consultant_name{ padding-left:22px; width:108px;}
.consultant_name img{ position:relative; left:10px; top:2px;}
.consultant_age{ width:124px;}
.consultant_tel{ width:286px;}
.consultant_lead{ width:350px;}
.logo_search{ background:#fff; border-bottom:1px solid #d6d6d6; height:74px; padding-top:30px; margin-top:10px;}
.search_content{ width:1020px; margin:0px auto;}
.search_input_01{ border:1px solid #b2b2b2; width:352px; height:18px; line-height:18px; padding:5px 15px; border-radius:20px; color:#555; position:relative; top:-13px; left:30px;}

/*选择分类*/
.brand_rank{ width:1018px; border:1px solid #e5e4e2; background:#f7f7f7; margin-top:10px; border-bottom:none;}
.brand_rank dl{ border-bottom:1px solid #e5e4e2; height:40px; line-height:40px; font-family:'微软雅黑'; font-size:14px; color:#4f361d;}
.brand_rank dl dt{ width:62px; background:#efeeec; text-align:center; float:left;}
.brand_rank dl dd{ width:948px; float:left;}
.brand_rank dl dd a{ color:#4f361d; padding-left:20px;}
.brand_rank dl dd a:hover{ color:#f83976}
.brand_rank dl dd .cls_hover{ color:#f83976}
.brand_rank_info{ width:988px; border:1px solid #e5e4e2; background:#f7f7f7; margin-top:10px; height:36px; line-height:36px; padding:0px 15px; font-family:'微软雅黑';}
.rank_href{ color:#4f361d; background:url(../images/Images/rank_icon.gif) no-repeat right center; padding-right:12px; margin-right:30px; float:left;}
.rank_price{ float:left; width:316px; margin-right:40px;}
.rk{ width:120px; color:#4f361d !important; float:none;}
.rank_date{ padding:0px 5px;}
.rk_date{ position:relative; top:5px;}
.rk_i i{ top:13px !important;}

/*筛选选择框*/
.OperatorSelectList ul{ display:none; max-height:210px; padding:5px 0; border:1px solid #dcdcdc; border-top:0; background:#fff; position:absolute; left:-1px; top:26px; overflow:hidden;}
.OperatorSelectList ul li{ height:30px; line-height:30px; padding:0 10px; color:#999; cursor:pointer; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.OperatorSelectList ul li:hover{ color:#666; background:#f5f5f5;}

.OperatorSelectList .fs_select{ width:115px;}
.OperatorSelectList .fs_select li{ width:95px;}

.OperatorSelectList .fs_list{ width:336px; padding-left:10px;}
.OperatorSelectList .fs_list li{ float:left; width:60px;}
.OperatorSelectList .fs_list:before{ width:231px; height:1px; content:"."; font-size:0; background:#dcdcdc; position:absolute; left:115px; top:0; overflow:hidden;}
.OperatorSelectList{float:left;height:26px; line-height:26px; margin:0px 10px 0 5px; border:1px solid #dcdcdc; position:relative;}
.OperatorSelectList:after,.OperatorSelectList:before{ display:block; clear:both; height:0; content:"."; font-size:0; visibility:hidden; overflow:hidden;}
.OperatorSelectList .fs_inp{ float:left; height:24px; line-height:24px; padding-left:10px; border:1px solid #fff;}
.OperatorSelectList .fs_btn{ float:left; line-height:26px; padding:0 5px; border-left:1px solid #dcdcdc;}
.OperatorSelectList .fs_btn b.iconfont{ font-size:12px; color:#666;}

.AccountTotalInfor{border-top:1px solid #e8e6e6;padding:10px 0;background-color:#fbf7e9;}
.AccountTotalInfor .shop_bot_l{text-align:right;height:30px;line-height:30px;padding:0px 30px 0 0;}

/*修改疗程*/
.shop_li_discount{width:60px; height:24px; display:inline-block;border:1px solid #d8d8d8; text-align:center; padding:0 5px; background-color:#f7f7f7;}
.courseDelBtn{color:#999;}
.courseDelBtn .iconfont{font-size:20px;}
.courseDelBtn .iconfont:hover{color:#f83976;}
.CourseProductImg{width:40px;height:40px;display:inline-block;vertical-align:middle;margin:0 10px;}
.CourseProductImg img{width:40px;height:40px;}
.addTreatmentBtn .btn{margin-left:15px;height:26px;}
.trestmentEditInfor{margin-top:20px;background-color:#fff;}

/*订单详情*/
.OrderTotalAccount{font-size:16px;margin-right:20px;}
.OrderTotalAccount .TotalMoney{margin-left:15px;}
.OrderStatusList .title{text-align:right;width:168px;padding-right:40px;}

/*结算页面*/
.BeauticianSelectBox{position:relative;}
.BeauticianSelectBox ul{padding:0 10px 10px 10px;float:left;overflow-x:hidden;overfolw-y:auto;height:150px;}
.BeauticianSelectBox ul li{float:left;padding:0 10px;text-align:center;height:25px;line-height:25px;cursor:pointer;border:1px solid #fff;}
.BeauticianSelectBox ul li:hover{border:1px solid #f83976;}
.BeauticianListInfor{line-height:22px;}
.beauticianTitle{margin:0 0px 0 10px;}
.beauticianName{margin:0 5px 0 10px;border:1px dashed #f83976;padding-left:5px;}
.beauticianName:hover{border:1px solid #f83976;}

.beauticianName .iconfont{ color: #f83976;font-size: 10px;text-align: center;width:20px;line-height:22px;height:22px;cursor:pointer;display:inline-block;}
.addBeauticianList{display:inline-block;vertical-align:middle;width:22px;height:22px;border-radius:22px;background-color:#f83976;text-align:center;line-height:21px;cursor:pointer;margin:0 8px;}
.addBeauticianList .iconfont{color:#fff;}
.personMoreSelect{position:absolute;left:0px;top:28px;padding-top:10px;border:1px solid #dcdcdc;width:300px;height:200px;background-color:#fff;}
.closePersonWinBtn{color: #999;cursor: pointer;height: 20px;line-height: 20px;position: absolute;right: 0;text-align: center;top: 0;width: 20px;}


/*产品列表显示*/
.productList_Ul li{width:1020px;border-bottom:1px solid #dcdcdc;padding:20px 0;}
.productDetailInfor span{display:inline-block;vertical-align:middle;}
.productImgBox{width:180px;height:120px;}
.productDetailInfor{padding:0 20px;}
.productShowBox{margin-top:10px;}
.TreamentHeadContent{padding-bottom:10px;border-bottom:1px solid #dcdcdc;}
.TreamentNameInfor{font-size:16px;}
.TreamentNameInfor .name{width:280px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.TreamentNameInfor .sendIntegral{width:150px;}
.TreamentNameInfor .price{width:100px;}
.sales_assess{color:#999;}
.product_detail .product_name{width:160px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.product_detail .product_price{width:100px;}
.product_detail .product_num{width:50px;}
.product_detail .product_discount{width:80px;}
.product_detail .discountSale{width:150px;}
.product_Number{margin-top:48px;}
.productBuyBtn a{display: block;height: 38px;text-indent: -9999px;width: 102px;margin:20px 0 0 25px;}
.addTreament a{background: url("../images/common/icon_btn1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.addShopping a{background: url("../images/common/icon_btn2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.goodsinfor_short{width:150px;}
.goodsinfor_long{width:380px;}
.productShowInforArrow{text-align:center;height:20px;width:530px;}
.productShowInforArrow .iconfont{cursor:pointer;}